[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "COMPoissonReg"]
	path = COMPoissonReg
	url = https://github.com/lotze/compoissonreg
